  html, body {
    height: 98%;
    width: 99%;
    margin: 10px 10px 10px 10px;
    color: #343a40;
    font-family: 'Roboto', 'Noto Sans Display', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;    
  }

  nav{
    position: fixed;
    left: 0;
    top: 0;
    background: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 999;    
  }
  nav div {
    display: flex;
    position: relative;
    width: 1280px;
    height: 50px;
    margin:0 auto;
  }
  nav div a{
    flex: 1;
    display: block;
    color: #ced4da;
    text-decoration: none;    
    line-height: 50px;
    text-align: center;    
  }
  nav div a.on{
    color: #343a40;    
  }

  nav div > span{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #e8590c;
    width: 33.33%;
    opacity: 0;
    transition: all 0.25s;
  }

  nav div a:nth-child(1).on ~ span{ left: 0; opacity: 1;}
  nav div a:nth-child(2).on ~ span{ left: 33.33%; opacity: 1;}
  nav div a:nth-child(3).on ~ span{ left: 66.66%; opacity: 1;}

  #container{
    display:inline-block;
    margin-top: 50px;
    width: 1280px;
    height: 768px;    
  }

  #end_date_calculator{    
    height: 768px;
  }

  #calculate{
    display:block;
    width: 230px;
    height: 768px;
    font-weight: 500;
    margin: 5px 10px 5px 5px;    
    float: left;
    padding-top: 10px;
    border-radius: 5px;    
    background-color: #f1f3f5;
  }

  #calCanvas{
    display:block;
    float: left;
    width: 1000px;
    height: 100%;    
    margin-left: 20px;    
  }

  #year{
    color: #343a40;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #yearSelector{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #viewToday{
    display: flex;
    width: 83%;
    height: 100%;
    align-content: center;
    justify-content: right;
  }

  #showToday{    
    width: 200px;
    height: 1.5em;
    font-size: 0.55em;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    /* user-select: none; */
  }
   
  #showToday:hover{
    background-color: #adb5bd;
  }

  #showToday:active{
    background-color: #868e96;
  }

  #viewCal{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-auto-rows: minmax(250px, 500px)
  }

  #Jan, #Feb, #Mar, #Apr, #May, #Jun, #Jul, #Aug, #Sep, #Oct, #Nov, #Dec{
    float: left;
    width: 93%;
    font-weight: 500;
    font-size: 0.8em;
    margin: 0 10px 10px 0;
    text-align: center;
  }

  #selected_year{
    user-select: none;
  }

  #prev,#next{
    font-size: 0.7em;
    border: none;
    background: none;
    margin-left: 15px;
    margin-right: 15px;
  }

  #prev:hover, #next:hover{
    color: #adb5bd;
  }

  #prev:active, #next:active{
    color: #868e96;
  }

  .fc-daygrid-day-events {
    font-size: 0em;
    overflow: hidden;
    height: 0em;
  }  
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.3em;
    font-weight: 500 !important;   
  }
  .fc-col-header { background-color:#e9ecef; width:100% !important;}
  .fc-daygrid-body, .fc-daygrid-body-unbalanced, .fc-daygrid-body-natural, .fc-scrollgrid-sync-table {width:100% !important;}
  .fc-daygrid-day-number {
    font-size: 1em;
    font-weight: 500;
    z-index: 20;
    /* user-select: none; */
  }
  .fc-daygrid-day  {border: 0px solid white !important;}
  .fc-scrollgrid-sync-table {width:100% !important;}
  .fc-day{font-weight: 500;}
  .fc-day-sun{
    color: #f03e3e;
    text-align: right;
    width: 18%;
  }
  .fc-day-sat {color: #4263eb;}
  .fc-toolbar-title {
    font-size: 1.3em !important;
    font-weight: 500 !important;
    /* user-select: none; */
  }
  .fc-highlight{background: #e8590c94 !important;}
  .fc-daygrid-week-number{
    width: 18px;
    font-size: 0.5em;
    font-weight: 500;
    margin-top: 3px;
    background-color: #343a400e !important;
    border-radius: 6px !important;
    user-select: none;   
  }

  .fc-day {border: none !important;}

  #yearCont, #weekCont, #dayCont{
    font-size: 1em;
    font-weight: 500;
    width: 40%;
    text-align: center;
    border: 0px solid #ced4da;
  }

  #selected_div, #calculated_div, #direction_down1, #direction_down2 {    
    text-align: left;
    font-size: 1.55em;    
    font-weight: 500 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 5px 3px 5px 3px;
  }

  #selected_div, #calculated_div{
    border-bottom: 1px solid #ced4da;
  }

  #calculated_div:hover{
    background-color: #e2e6eb;
    border-top: 1px solid ghostwhite;
    border-left: 1px solid ghostwhite;
    border-right: 1px solid rgb(165, 165, 165);
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-top: 4px;
    padding-left: 2px;
  }  

  #calculated_div:active{
    background-color: #c9cfd3;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-top: 1px solid rgb(165, 165, 165);
    border-left: 1px solid rgb(165, 165, 165);
    padding-top: 4px;
    padding-left: 2px;
  }


  #direction_down1, #direction_down2{    
    color: #ced4da;
    text-align: center;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #direction_down1{
    border-bottom: 1px solid #ced4da;
  }
  #direction_down2{
    border-top: 1px solid #ced4da;
  }

  #yearCont_div, #weekCont_div, #dayCont_div{
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #indicator{
    font-size: 0.45em;
    text-align: left;    
  }

  #copyButton{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;    
  }

  #btn_info{
    font-size: 0.7em;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 4px;
  }

  #cBtn{
    display: table;
    border-radius: 5px;
    font-weight: 500;
    background-color: #ced4da;
    height: 30px;
    width: 90%;
    margin: 2px 2px 2px 2px;
  }

  #cBtn:hover{
    background-color: #adb5bd;
  }

  #cBtn:active{
    background-color: #868e96;
  }

  .txt{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .fc-bg-event{
    background: rgba(196, 52, 52, 0.35) !important;
    /* border: 2px solid rgb(196, 52, 52) !important; */
    z-index: 800 !important;
  }
  .fc-event-title{
    height: 0;
  }
  .fc-daygrid-day-top:hover, .fc-bg-event:hover, .fc-event:hover{
    background-color: #e8590c8c !important;
  }

  .fc-dayGridMonth-view, .fc-day{
    border: 0px solid white;
  }

  .ko_holiday{
    color: rgba(0, 0, 0, 0);
  }

  #holiday{
    color: rgb(70, 70, 70);
    font-family: 'Nanum Gothic', 'Roboto', 'Noto Sans Display', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: 500;    
    padding-top: 2px;
    height: 25px;
    user-select: none;
  }

  #global_holiday{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #CN_holiday, #GE_holiday, #JP_holiday, #UK_holiday, #US_holiday{
    font-size: 0.8em;
    font-weight: 500;
    display:grid;    
    grid-template-columns: 28px 3fr;
    text-align: left;
    margin-bottom: 3px;
  }