.separator{
  border: none;
  height: 1px;
  background-color: #adb5bd; /* Modern Browsers */
  margin-top: 25px;
  margin-bottom: 25px;
}

#cal_4y{
  width: 100%;
  height: 100%;
  display: block;    
  margin-bottom: 10px;
}

#year{
  display: flex;
  align-items:flex-start;
  width: 100%;
}

#viewCal_y1, #viewCal_y2, #viewCal_y3, #viewCal_y4{
  height: 100%;
  width: 100%;
  display: grid;
  align-items:flex-start ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.25em;
  gap: 10px;    
  margin-left: 20px;
}

#year_1, #year_2, #year_3, #year_4{        
  height: 100%;    
  font-size: 0.7em;
  color:#343a40;
}
